<!DOCTYPE html>
<html>
  <head>
    <title>Drowsiness detection</title>
  </head>
  <body>
    <h1>Drowsiness detection</h1>
    <video id="video-stream" width="640" height="480" autoplay></video>
    <img src="#" id="processed-image" width="640" height="480" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script>
      // Connect to the WebSocket server
      var socket = io.connect('https://' + document.domain + ':' + location.port);
      console.log(socket);

      // Receive processed images from the server
      socket.on('image', function(data) {
        var img = document.getElementById('processed-image');
        img.src = 'data:image/jpeg;base64,' + data;
      });

      // Get the video stream from the camera
      navigator.mediaDevices.getUserMedia({video: true})
        .then(function(stream) {
          var video = document.getElementById('video-stream');
          video.srcObject = stream;

          // Send video frames to the server for processing
          var canvas = document.createElement('canvas');
          var ctx = canvas.getContext('2d');
          canvas.width = 640;
          canvas.height = 480;
          var frameCount = 0;
          setInterval(function() {
            ctx.drawImage(video, 0, 0);
            var dataURL = canvas.toDataURL('image/jpeg');
            socket.emit('frame', dataURL);
            frameCount++;
          }, 1000 / 8);
        })
        .catch(function(error) {
          console.log(error);
        });
    </script>
  </body>
</html>
